{% extends "_layouts/layout.html" %}

{% block header_class %}{% endblock %}

{% block page_title %}
  GOV.UK product page prototypes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        GOV.UK Service Toolkit
      </h1>

      

      <ul class="list">
        <li class="mb_20"><a href="govuk-service-toolkit/index-live">GOV.UK Service Toolkit – "live" version</a></li>

        <li class="mb_20"><a href="govuk-service-toolkit/index-expose-sm-content">GOV.UK Service Toolkit – Expose Service Manual Headings</a></li>
        
      </ul>


<!--       <p>
        <a href="https://github.com/alphagov/govuk_product_page_prototypes">Download the prototype code on Github</a>
      </p> -->

    </div>
  </div>
</main>

{% endblock %}


